In [4]:
# Create a 1D array with 10 random integers between 1 and 100:
import numpy as np
a = np.random.randint(1, 101, 10)
a

array([90,  1, 25, 69, 40, 75, 49,  6, 25,  8])

In [5]:
# Multiply by 2
res_a = a * 2

array([180,   2,  50, 138,  80, 150,  98,  12,  50,  16])

In [7]:
# Find how many values are above 50
above_50 = a > 50
count = np.sum(above_50)

In [10]:
# Replace all values below 30 with 0 using masking
replaced = a.copy()
replaced [replaced < 30] = 0

In [11]:
# Print everything
print("Original:", a)
print("Doubled:", res_a)
print("How many above 50:", count)
print("Replaced values below 30", replaced)

Original: [90  1 25 69 40 75 49  6 25  8]
Doubled: [180   2  50 138  80 150  98  12  50  16]
How many above 50: 3
Replaced values below 30 [90  0  0 69 40 75 49  0  0  0]